@media screen and (max-width: 750px) {
    .formCliente {
        width: 25rem;
        padding: 5px;
        border-radius: 10px;
        .inputCliente {
            width: 20rem;
        }
    }  
}