//Vista de nav en 750px
@media screen and (max-width: 750px){
    .header {
        flex-direction: column;
        height: 350px;
        .navbar {
            width: 100%;
            .linksContainer {
                flex-direction: column;
                justify-content: center;
                width: 100%;
                align-items: center;
                margin: 0%;
                gap: 0px;
            } 
        }
    }
}