/* Cliente CSS */
.formCliente {
    margin: auto;
    margin-bottom: 30vh;
    display: flex;
    flex-direction: column;
    @include box-shadow-style;
    width: 40rem;
    padding: 5% 7%;
    gap: 30px;
    h2 {
        text-align: center;
        font-size: 2rem;
        font-family: $font-title ;
        }
    label {
        font-weight: bold;
        font-size: 1.3rem;
        margin: left 40px;;
        }
    .inputCliente {
        width: 28rem;
        height: 1.7rem;
        margin: auto;
        @include input-style;
    }
    .submit {
        @include submit
    }

    [placeholder]:focus::-webkit-input-placeholder {
        transition: text-indent 0.4s 0.4s ease-in-out; 
        text-indent: -100%;
        opacity: 1;
            color: white;
            font-weight: bold;
     }
    [placeholder]::-webkit-input-placeholder {
        color:white;
    }
    
    }