/* Contacto CSS */
.contactForm {
    @include box-shadow-style;
    width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 10vh;
    padding: 5% 7%;
    .contactImg{
        @extend .radius;
    }
    .inputContactContainer {
        display: flex;
        flex-direction: column;
        resize: none;
        input {
            width: 30rem;
            @include input-style;
        }
        label {
            font-weight: bold;
        }
        .textAreaContact {
            width: 30rem;
            resize: none;
            height: 15rem;
            padding: 5px
        }
    }
    .buttonsContainerContact {
        input{
            @include submit;
        }
    }
}