/* Empresa CSS */
.empresaMain {
    margin-bottom: 30vh;
    padding: 0 5%;
    .quienesContainer {
        @include box-shadow-style;
        padding: 2% 5%;
        display: flex;
        gap: 30px;
        .quienesContentContainer {
            padding-top: 30px;
        }
    }
}