
/* Footer CSS */
.footer {
    display: flex;
    padding: 0px 2%;
    padding-top: 10px;
    align-items: center;
    background-color: rgb(11, 37, 184);
    .footerTitle{
        @include h2-style ;
    }
    .iconsContainer {
        display: flex ;
        width: 70%;
        justify-content: space-around; 
        li {
            a{
                .footerIcon {
                    width: 50px;
                    transform-origin: all0.5;
                    &:hover {
                        transform: scale(0.90);
                        transition: all 2s;
                        }
                    }
                }
            }
        }
    }