
/* Index CSS */
.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "caja1 caja2 caja3"
    ;
    justify-items: center;
    margin: 50px;
    gap: 10px;
    align-items: center;
    .uno {
        grid-area: caja1;
    }
    .dos {
        grid-area: caja2;
    }
    .tres {
        grid-area: caja3;
    }
    .caja {
        width: 320px;
        background-color: map-get($colores, celeste );
        border:map-get($colores, azul ) 1px;
        @extend .radius;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        padding-bottom: 20px;
        .h3 {
            font-family:$ff-family;
            text-align: center;
            margin-bottom: 20px;
        }
        .sectionImg {
            width: 300px;
            @extend .radius;
            margin: 15px;
        } 
    }
}

/* /Media querie - Mobible Size/ */
@media screen and (max-width: 420px){
    .contenido{
        margin: 0%;
        .sectionImg{
            width: 280px;
        }
        .caja{
            width: 300px;
        }
    }
}