/* Normalize */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: map-get($colores , blanco );
    text-decoration: none;
    font-family: $ff-family;
}