/* Title */
.titleContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    h1 {
        font-family: $ff-family ;
        font-weight: bolder;
        font-size: 3rem;
        text-align: center;
    }
}
