$ff-family: 'Oswald', sans-serif;
$font-title: 'Anton', sans-serif;

$colores: (
    celeste:  #427BCA, 
    negro: black,
    blanco: white,
    gris: rgb(207, 204, 204 ),
    azul: rgb(13, 25, 95),
    azul-oscuro: rgb(0, 7, 46)
);

@mixin h2-style {
    width: 30%;
    font-family: $ff-family;
    color: map-get($colores, blanco );
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 2rem;
}
@mixin submit {
    width: 8rem;
    height: 1.7rem;
    margin: auto;
}
@mixin section-service($orientacion-row){
    display: flex;
    flex-direction: $orientacion-row;
    .serviceImg{
        width: 50%;
    }
    .serviceContainer {
        width: 100%;
        background-color: map-get($colores, azul);
        padding: 1%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-size: 1.4rem;
        h3{
            font-family: 'Oswald', sans-serif;
            font-size: 2rem;
            margin-left: 20px;
            border-bottom: solid 1px black;
        }
    }
}

.radius{
    border-radius: 10px;
}

@mixin box-shadow-style {
    background: map-get($colores, azul );
    box-shadow:  9px 9px 18px #0b0719, -9px -9px 18px #1b133d;
    @extend .radius;
}

@mixin service-section-420{
    .serviceContainer{
        margin: 0%;
    } 
    .serviceImg {
        width: 100%;
    }
}

@mixin submit {
    font-size: 1.2rem;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #4433ff map-get($colores, azul-oscuro);
    background: map-get($colores, azul-oscuro);
    &:hover {
        background: #fff;
        color: map-get($colores, azul-oscuro);
    }
}
@mixin input-style {
    border: none;
    background-color: map-get($colores, azul);
    border-bottom: solid map-get($colores, blanco) 1px;
    &::placeholder {
        color: map-get($colores, gris);
    }
}